<a class="chatbot" (click)="toggleSwitcher()"><img
        src="../../../../assets/img/chat.webp"></a>


<div class="chatbotpart" [hidden]="isVisible">
    <div class="card">
        <h4 class="card-header center text-primary">LEA CONSEIL</h4>
        <div class="card-body">
            <div class="frame-box">
                <div><img src="../../../../assets/img/choose.webp"
                        width="50px"
                        height="50px"></div>
            </div>
            <br>
        </div>
    </div>
</div>
