.chatbot{
    position: fixed;
    top: 17%;
    width: 189px;
    z-index: 9999;
    padding: 10px 5px;
    left: 90%;
}
@media only screen and (max-width: 767px) {
    .chatbot{
        display: none;
    }
    .chatbotpart{
        display: none;
    }
}
.chatbotpart{
    position: fixed;
    top: 25%;
    width: 300px;
    z-index: 9999;
    padding: 10px 5px;
    left: 70%;
}
.chatheigh{
    height: 350px;
}
.frame-box{
    overflow-y: scroll;
    border-radius: 15px;
    height: 200px;
}
.message{
    border-radius: 20px;
    margin: 0 15px 20px;
    padding: 10px 20px;
    position: relative;
}

.message.to{
    background-color: #2095FE;
    color: #ffffff;
    margin-left: 100px;
    text-align: right;
}

.message.from{
    background-color: #e5e4e9;
    color: #363636;
    margin-right: 100px;
}

.message.to + .message.to,
.message.from + .message.from{
    margin-top: -10px;
}

.form-control{
border-radius: 30px;
}
.btn{
    border-radius: 30px;
}
