.chatbot{
    position: fixed;
    top: 17%;
    width: 189px;
    z-index: 9999;
    padding: 10px 5px;
    left: 90%;
}
@media only screen and (max-width: 767px) {
    .chatbot{
        display: none;
    }
    .chatbotpart{
        display: none;
    }
}
.chatbotpart{
    position: fixed;
    top: 25%;
    width: 300px;
    z-index: 9999;
    padding: 10px 5px;
    left: 70%;
}
.chatheigh{
    height: 350px;
}
.frame-box{
    overflow-y: scroll;
    border-radius: 15px;
}
.message{
    border-radius: 20px;
}
